fastapi==0.116.1
uvicorn==0.35.0
sqlmodel==0.0.24
psycopg2==2.9.10
pydantic[email]
python-multipart==0.0.20
PyJWT
passlib[bcrypt]
python-dotenv==1.1.1
seaborn==0.13.2
pandas==2.3.2
numpy==2.3.3
matplotlib==3.10.6
APScheduler==3.11.0
requests==2.32.4